* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
    outline: none;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    cursor: pointer;
}
button {
    background-color: black;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    font-size: 30px;
}
.header {
    display: flex;
    width: 100%;
    background-color: rgb(231, 177, 0);
    justify-content: center;
    position: relative;
    z-index: 1;
}
.menu {
    position: absolute;
    display: flex;
    width: 50%;
    top: -55px;
    align-self: center;
    transition: 0.5s;
}
.active {
    display: flex !important;
    flex-direction: column !important;
}
.welcome, .learn, .train {
    display: none;
    padding: 50px 10px;
}
.welcome {
    width: 100%;
}
.welcome p {
    width: 80%;
    align-self: flex-end;
    text-align: end;
    font-size: 20px;
    color: rgb(88, 88, 88);
}
.main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border: 2px solid rgb(231, 177, 0);
    border-bottom: 30px solid rgb(231, 177, 0);
    padding: 10px;
    background-color: rgb(255, 213, 74);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.open-main-menu {
    top: 65px !important;
}
.main-menu li {
    font-weight: bold;
    font-size: 17px;
    margin: 0px 0 30px 0;
}
.learn-menu, .train-menu {
    width: 100%;
    position: relative;
}
.learn-ul, .train-ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    padding: 5px;
    z-index: -1;
}
.learn-ul li, .train-ul li {
    margin: 0;
    padding: 2px 8px;
    border-radius: 50%;
    transition: 0.2s;
}
.learn-ul li:hover, .train-ul li:hover {
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
    color: rgb(151, 0, 0);
}
.learn-ul li:active, .train-ul li:active {
    font-size: 1.1rem;
    text-shadow: none;
    color: rgb(151, 0, 0);
}
.reveal-numbers {
    z-index: 0;
}
.arrows-container {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    top: 117px;
    font-size: 40px;
}
.arrows-container .fas {
    cursor: pointer;
    transition: 0.4s;
}
.arrows-rotate {
    transform: rotate(180deg);
}
.learn-list, .train-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.learn-list span {
    color: red;
    font-weight: bold;
}
.learn h2, .train h2 {
    text-align: center;
}
.learn-list p, .train-list p {
    font-size: 30px;
    width: 30%;
    text-align: center;
    font-weight: bold;
}
.train-list input {
    width: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
}
i {
    display: none;
}
.hide {
    display: none;
}
.true {
    background-color: green
}
.false {
    background-color: rgb(236, 43, 43);
}

@media (max-width: 790px) {
    .menu {
        width: 70%;
    }
    .train-list p, .learn-list p {
        width: 40%;
        text-align: center;
    }
}

@media (max-width: 620px) {
    .menu {
        width: 90%;
    }
    .train-list p, button, input {
        font-size: 25px !important;
    }
}


@media (max-width: 480px) {
    .train-list p {
        width: 60%;
        text-align: center;
        margin: 5px 0px;
    }
    .learn-list p {
        font-size: 25px;
    }
}